@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-custom-scrollbar {
  border-radius: 4px;
  position: relative;
  height: 400px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.my-custom-scrollbar thead tr th { position: sticky; top: 0; background-color: teal;}

/* width */
::-webkit-scrollbar  {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #999999; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #120f0f; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(37, 37, 37); 
}

.white-content {
  background: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: black;
}